html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit,
}

html, body {
    height: 100%;
    width: 100%;
}

@keyframes roller-coaster {
    0% {
        /* opacity: 0; */
        transform: rotate(0deg);
    }

    /* 50% { */
        /* opacity: 1.0; */
        /* transform: rotate(180deg); */
    /* } */

    100% {
        /* opacity: 0; */
        transform: rotate(360deg);
    }
}






.picture-frame {
    width: 80%;

    /* position: absolute;
    top: 150px; */
    border: 2px solid cornflowerblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Use the :hover pseudo-class */
.picture-frame:hover {
    outline: 5px solid white;
}

/* 
    Scale the image up if the picture-frame is being hovered. 
    Not that the scaling is applied to the img, NOT the picture-frame.
*/
/* .picture-frame:hover img { */
    /* transform: scale(1.10);
    opacity: 1.0;
} */

/* state a */
.picture-frame img {
    width: 100%;
    opacity: 0.1;
    transition: all .3s ease-in-out;
    /* 
        1. property names or the word "all"
        2. duration in seconds or ms
        3. timing function
    */
}


/* state b */
.picture-frame img.big {
    /* transform: scale(2.5); */
    opacity: 1.0;
    border-radius: 50%;
    animation: roller-coaster .5s ease-in-out;
} 

.hamster-playground {
    border: 5px solid gold;
    display: flex;
    min-height: 300px;

    flex-direction: column;

    /* how to line up on main axis */
    justify-content: flex-start;

    /* how to line up on cross axis */
    align-items: center;

}

/* It's like an if statement for CSS */
@media screen and (min-width: 500px) {

    body {
        background: rgb(0, 123, 255);
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }

    .picture-frame {
        width: 33%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .hamster-playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 700px) {

    body {
        background: purple;
    }

    .hamster-playground {
        background: bisque;
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    body {
        background: greenyellow;
    }
    .picture-frame {
        width: 30%;
        border-radius: 75%;
    }
    .hamster-playground {
        background: red;
    }
}