html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit,
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    width: 150px;
    display: inline-block
}

.picture-frame img {
    width: 100%;
}